.card {
  display: flex;
  overflow-x: auto;
}

.card--content {
  width: 250px;
  height: 150px;
  margin: 0.5em;
  block-size: fit-content;
}

.link--image img {
  width: 240px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}
