footer {
  display: flex;
  position: relative;
  bottom: 0;
  flex-flow: wrap;
}

.footer-1 {
  position: relative;
  display: inline-block;
  background-color: white;
  border-top: 0.2em solid gainsboro;
}

.footer-2 {
  background-color: snow;
}

.footer-1,
.footer-2 {
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.sitemap > div {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  padding: 1em;
}

.company {
  /* margin-left: 1em; */
}

.subscription-form {
  position: absolute;
  top: 1em;
  right: 2em;
  margin: 1em;
  padding: 1em;
}
