/* footer 
  footer-1 
  - sitemap
    - support
    - company
  - subsciption-form */

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  /* margin: 0; */
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

footer,
.footer-1,
.footer-1 > div,
.footer-2 {
  display: flex;
  /* position: relative; */
}

footer {
  bottom: 0;
  flex-direction: column;
  border-top: 0.2em solid gainsboro;
}

.footer-1 {
  background-color: white;
  flex-flow: wrap;
}

.sitemap {
  margin: 1em;
}

.sitemap :first-child {
  margin-inline-end: 1em;
}

.subscription-form {
  flex-direction: column;
  margin: 1em;
}

.subscription-form input {
  width: 98%;
}

.footer-2 {
  background-color: snow;
  width: 100%;
  flex-direction: inherit;
  flex-basis: 100%;
  padding-block: 1em;
}

.footer-2 div {
  margin-inline: 0.8em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-2 div a {
  margin-inline: 1em;
}
