.footer {
  position: relative;
  background-color: whitesmoke;
  border-top: 0.2em solid rgba(114, 114, 114, 0.432);
  /* padding: 5px 5px 5px 5px; */
  /* margin: 0 0 0 0; */
  bottom: 0;
}

.footer * {
  /* display: inline-block; */
}
