/* nac container */
.navbar-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  /* border-bottom: 0.05px solid black; */
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

/* left nav links */
.navbar-container :nth-child(1) {
  order: 1;
}

/* right nav links */
.navbar-container :nth-child(2) {
  order: 3;
}

/* nav logo */
.navbar-container :nth-child(3) {
  order: 2;
  transform: translateX(-35%);
}
.navbar_logo {
  width: 140px;
  height: auto;
}

.navbar {
  padding: 5px;
  margin: 5px;
}

.navbar_links > * {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
  color: black;
  margin: 5px 20px;
}
