.hero {
  display: flex;
  position: relative;
}

.hero > img {
  width: 50%;
}

.button,
.hero > p {
  color: white;
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align-last: justify;
}

.hero > p {
  font-size: 1.5em;
  top: 50%;
}

.button {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 0.7em;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  top: 90%;
  margin-bottom: 5%;
  padding: 5px 54px;
}

.button:hover {
  transition: 0.25ms ease-in-out;
  background-color: black;
  color: white;
}

@media screen and (max-width: 990px) {
  #second-image {
    width: 100vw;
  }

  #first-image {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  .hero > p {
    font-size: 1em;
  }

  .button > p {
    font-size: 0.5em;
  }

  .button {
    padding: 3px 36px;
  }

  .hero p {
    text-align: justify;
  }
}
