.hero {
  display: flex;
  position: relative;
}

.hero > img {
  width: 50vw;
}

.button,
.hero > p {
  color: white;
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align-last: justify;
}

.hero > p {
  font-size: x-large;
  top: 50%;
}

.button {
  background-color: white;
  color: black;
  font-size: small;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  top: 90%;
  margin: 5px;
  padding: 15px 54px;
}

.button:hover {
  transition: 0.25ms ease-in-out;
  background-color: black;
  color: white;
}
