/* footer 
  footer-1 
  - sitemap
    - support
    - company
  - subsciption-form */

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  /* margin: 0; */
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

footer,
.footer-1,
.footer-1 > div,
.footer-2 {
  display: flex;
  position: relative;
}

footer {
  bottom: 0;
  flex-direction: column;
  border-top: 0.2em solid gainsboro;
}

.footer-1 {
  background-color: white;
}

/* .footer-2, */
.footer-1 {
  justify-content: space-between;
}

.subscription-form {
  flex-direction: column;
}

.footer-2 {
  background-color: snow;
  height: 3em;
}

.footer-2 > div {
  margin: auto 0.8em;
}

.footer-2-1 a {
  margin: auto 1em;
}
