:root {
  font-weight: 300;
  font-family: sans-serif;
}

header {
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: whitesmoke;
  width: 100%;
  height: 3rem;
  left: 0;
  top: 0;
  margin: 0;
}

.nav_logo img {
  width: 8em;
  height: auto;
}

.nav_logo {
  position: relative;
  margin-left: 45vw;
  margin-right: 55vw;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 11px;
}

nav {
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

/* Hamburger menu */
.nav-toggle {
  position: absolute;
  top: 1em;
  margin-left: 1em;
  display: none;
}

.nav-toggle-label {
  position: absolute;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav {
  margin-top: 3rem;
  opacity: 1;
  overflow: visible;
  transition: opacity 250ms ease-in-out 250ms;
  transform-origin: left;
  line-height: 1.5em;
}

.navbar_links {
  background-color: whitesmoke;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 10vw;
}

.nav_right {
  padding-bottom: 1em;
}

/* Responsiveness for desktop */
@media screen and (min-width: 990px) {
  .nav-toggle-label {
    display: none;
  }

  nav {
    opacity: 1;
    overflow: visible;
    margin-top: 0;
  }

  li {
    display: inline-block;
    margin: 0.5em;
  }

  /* .nav_logo {
    margin-left: 43%;
    margin-right: auto;
  } */

  .navbar_links {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .navbar {
    position: absolute;
  }

  .nav_left {
    left: 2em;
  }

  .nav_right {
    right: 2em;
    padding-bottom: 0;
  }
}
