.style-edit-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 3em;
}

.blog-cards {
  display: flex;
  position: relative;
  gap: 0.5em;
  flex-wrap: wrap;
}

.blog-cards > div {
  flex: 1 1 33.33%;
}

.blog-cards :first-child {
  flex: 1 1 100%;
}

.blog-cards :first-child img {
  width: 100%;
}

.blog-cards img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

/* .description-paragraph {
  height: 5em;
} */
.blog-cards a {
  text-decoration: none;
  color: black;
}

.read-more,
.description-paragraph {
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 1;
  transform: 0.5s ease;
}

.read-more {
  text-decoration: underline;
}

.read-more:hover,
.description-paragraph:hover {
  opacity: 0.7;
}

.edit-button {
  display: flex;
  position: relative;
  width: fit-content;
  margin-top: 3em;

  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  border: 1px black solid;
}

.edit-button a {
  padding: 1em 1.6em;
  text-decoration: none;
  color: black;
  background-color: white;

  text-transform: uppercase;
  letter-spacing: 0.25ch;
  font-size: 0.8em;

  transition: 0.5s ease;
}

.edit-button a:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .blog-cards {
    flex-wrap: nowrap;
  }

  .blog-cards :first-child {
    flex-basis: 33.33%;
  }

  .edit-button {
    position: absolute;
    top: 2.5em;
    left: 100.5%;
    transform: translate(-100%, -100%);
    border: none;
    margin: 0;
    width: 10em;
    height: fit-content;
  }

  .edit-button a {
    padding: 0;
    text-decoration: underline;
    font-size: initial;
    transition: initial;
    background-color: initial;
  }

  .edit-button:hover {
    transition: initial;
  }
  .edit-button a:hover {
    color: initial;
    background-color: initial;
  }
}
